[submodule "config/patch2"]
	path = config/patch2
	url = https://github.com/laqieer/FEBuilderGBA-patch2.git
[submodule "tools/Event-Assembler"]
	path = tools/Event-Assembler
	url = https://github.com/laqieer/Event-Assembler
[submodule "tools/ColorzCore"]
	path = tools/ColorzCore
	url = https://github.com/FireEmblemUniverse/ColorzCore
[submodule "resources/FE-Repo"]
	path = resources/FE-Repo
	url = https://github.com/Klokinator/FE-Repo
[submodule "resources/FE-Repo-Music-No-Preview"]
	path = resources/FE-Repo-Music-No-Preview
	url = https://github.com/laqieer/FE-Repo-Music-No-Preview
[submodule "resources/fe-info"]
	path = resources/fe-info
	url = https://github.com/laqieer/fe-info
