<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="." />
      <dependentAssembly>
        <assemblyIdentity name="FEBuilderGBA"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535"
                         newVersion="1.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
